* {
  box-sizing: border-box;
}

h1{
  margin: 0;
}

body {
  margin: 0;
  background: #AAC9CE;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  margin: 10rem;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.form > input {
  border: none;
  width: 50%;
  font-size: 18px;
  outline: none;
}

.form > button {
  border: none;
  border-radius: 5px; 
  background: #E9765B;
  font-size: 16px;
  margin-left: 0.5rem;
  cursor: pointer;
}

.form > button:hover {
  opacity: 80%;
}

.todo-list {
  width: 100%;
  margin-top: 1rem;
}

.todo-list > li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 3rem;
  background: orange;
  margin: 1rem;
}

.todo-list > li p {
  flex: 1;
  font-size: 18px;
}

.todo-list> li button {
  border: none;
  border-radius: 5px; 
  background: #E9765B;
  font-size: 16px;
  margin-left: 0.5rem;
  cursor: pointer;
}